<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-iosnotificationsvera" version="1.0.0">
    <name>iOS Notifications Vera</name>
    <description>Adds action buttons and responses for use with Vera</description>
    <license>Apache 2.0</license>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iOSNotificationsVera">
                <param name="ios-package" value="CDViOSNotificationsVera"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDViOSNotificationsVera.h" />
        <source-file src="src/ios/CDViOSNotificationsVera.m" />
    </platform>
</plugin>
