<?xml version='1.0' encoding='utf-8'?>
<widget id="com.msr.kurskurt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>KursKurt</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <engine name="ios" spec="~4.3.1" />
    <plugin name="onesignal-cordova-plugin" spec="~2.1.2" />
    <plugin name="callback-plugin" />
</widget>
